<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tools</title>
    <link  rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" /><link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="../static/angular.min.js"  th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="../static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="../static/app/booking.controller.js" th:src="@{/app/booking.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="BookingController as vm">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Booking Demo</a>
            </div>
        </div>
    </nav>
</header>

<div>
     <div th:text="${returnSize}"></div>
</div>


<footer class="footer" >
    <div class="container">
    </div>
</footer>
</body>
</html>